{
  "env": {
    "jest/globals": true,
    "jest": true
  },
  "plugins": [
    "jest"
  ],
  "rules": {
    "function-paren-newline": ["error", "multiline"],
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "quote-props": ["error", "as-needed", { "numbers": true }]
  }
}
